:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-bgc: #ffffff;
  --dark-grey-bgc: #2f303a;
  --light-grey-bgc: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-bgc);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-initial {
  color: var(--accent-color);
}

.nav-logo-final {
  color: #000000;
}

.footer-logo-final {
  color: var(--white-bgc);
}

.nav-link,
.header-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--primary-text-color);
}

.header-contacts {
  color: var(--secondary-text-color);
}

.active-link {
  color: var(--accent-color);
}

.address-box {
  font-style: normal;
}

.footer-address,
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-bgc);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-section {
  background-color: var(--dark-grey-bgc);
}

.hero-section {
  background-color: var(--dark-grey-bgc);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-bgc);
  margin-top: 0;
  margin-bottom: 28px;
}

.order-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.services-section-title,
.team-section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.team-section {
  background-color: var(--light-grey-bgc);
}

.team-member-card {
  background-color: var(--white-bgc);
}
.team-member-photo {
  margin-bottom: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team-member-occupation {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0px;
}

.project-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--light-grey-bgc);
}

.project-btn:hover,
.project-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-bgc);
  cursor: pointer;
}
.project-image {
  margin-bottom: 20px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
